
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 10px coral;
    width: 800px;
    height: 100px;


}
td,th{
    padding: 16px;

}
tr:hover{background-color: black!important}   


#heading{
    background-color: darkred;
    font-size: large;
    font-style: oblique;
    color: white;
    /*padding: 10px;*/

}
#first{
    background-color: aliceblue;
    font-size: medium;
    font-style: normal;
    color: rgb(214, 190, 190);
}
#second{
    background-color: rgb(215, 226, 235,0.3);
    font-size: medium;
    font-style: normal;
    color: rgb(214, 190, 190);  
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }